<div class="row">
  <div class="col-sm-12 text-center">

  	<div class="btn-group btn-group-lg mx-auto">
    	<button type="button" class="btn btn-primary">Home</button>
    	<button type="button" class="btn btn-primary">Settings</button>
    	<button type="button" class="btn btn-primary">Profile</button>
  	</div>

  </div>
</div>